


/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    color: #FFB6C1;
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* Custom Button Styles */

.btn-dark {
    margin-top: 10%;
    color: #FFB6C1;
    border: 2px solid #FFB6C1;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);

}

.btn-dark2 {
    margin-top: 10%;
    color: #FFB6C1;
    border: 2px solid #FFB6C1;
    border-radius: 0;
    background-color: black
}

.btn-dark2:hover,
.btn-dark2:focus,
.btn-dark2:active {
    color: #fff;
    background-color: black;

}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}


/* Header */

.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* About */

.about {
    padding: 50px 0;
}


/* Services */

.services {
    padding: 50px 0;

}

.service-item {
    margin-bottom: 30px;
}


/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: .8;
}


/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}


/* Footer */

footer {
    padding: 100px 0;
}

#to-top {
    font-size: 1em;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    padding: 15px 20px;
}

/* Loading bars */



#ProgressHtml {
    width: 100%;
    background-color: white;
}
#HtmlBar {
    width: 65%;
    height: 15px;
    background-color: Black;
}

#ProgressCss {
    width: 100%;
    background-color: white;
}
#CssBar {
    width: 60%;
    height: 15px;
    background-color: Black;
}

#ProgressJs {
    width: 100%;
    background-color: white;
}
#JsBar {
    width: 45%;
    height: 15px;
    background-color: Black;
}

#ProgressPHP {
    width: 100%;
    background-color: white;
}
#PHPBar {
    width: 40%;
    height: 15px;
    background-color: Black;
}

#projecten {
    border: 2px solid #FFB6C1;
    background-color: black;
    margin: 0;
    width: 25%;
    height: 22.5%;
    margin-left: 37.5%;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

#malink {
    border: 2px solid black;
    background-color: #FFB6C1;
    margin: 0;
    width: 40%;
    height: 40%;
    margin-left: 30.5%;
}